---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  sources:
    - path: cert-manager.yaml
      repoURL: https://github.com/cert-manager/cert-manager/releases/latest/download/
      targetRevision: head

  destination:
    namespace: cert-manager
    server: https://kubernetes.default.svc
  project: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - CreateNamespace=true
