---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: forgejo
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  sources:
    - path: .
      repoURL: oci://code.forgejo.org/forgejo-helm/forgejo
      targetRevision: 15.0.2
      helm:
        valueFiles:
          - $values/argocd-app-of-apps/cluster/irish-sea/forgejo/values.yaml
    - repoURL: "https://github.com/OlafRadicke/own_dog_food.git"
      targetRevision: main
      ref: values

  destination:
    namespace: forgejo
    server: https://kubernetes.default.svc
  project: forgejo
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - CreateNamespace=true
