---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pipelines-as-code
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  sources:
    - path: argocd-app-of-apps/cluster/irish-sea/pipelines-as-code/manifests
      repoURL: https://github.com/OlafRadicke/own_dog_food.git
      targetRevision: HEAD
      directory:
        recurse: true

  destination:
    namespace: pipelines-as-code
    server: https://kubernetes.default.svc
  project: pipelines-as-code
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - CreateNamespace=true
