agent:
  # -- Enable the agent component
  enabled: true
  replicaCount: 1

  env:
    WOODPECKER_SERVER: "woodpecker-ci-server:9000"
    WOODPECKER_BACKEND: kubernetes
    WOODPECKER_BACKEND_K8S_NAMESPACE: woodpecker-ci
    WOODPECKER_BACKEND_K8S_NAMESPACE_PER_ORGANIZATION: false
    WOODPECKER_BACKEND_K8S_STORAGE_CLASS: ""
    WOODPECKER_BACKEND_K8S_VOLUME_SIZE: 2G
    WOODPECKER_BACKEND_K8S_STORAGE_RWX: true
    WOODPECKER_BACKEND_K8S_POD_LABELS: ""
    WOODPECKER_BACKEND_K8S_POD_ANNOTATIONS: ""
    WOODPECKER_CONNECT_RETRY_COUNT: "1"
  # WOODPECKER_DATABASE_DATASOURCE:
  #   valueFrom:
  #     secretKeyRef:
  #       name: woodpecker-database-secret
  #       key: datasource

  mapAgentSecret: true

server:
  enabled: true

  # -- Add environment variables for the server component
  env:
    WOODPECKER_LOG_LEVEL: debug
    WOODPECKER_FORGE_TYPE: gitea
    WOODPECKER_GITEA_URL: "http://forgejo-http.forgejo"
    # -- OAuth connection
    # WOODPECKER_GITEA_CLIENT: "<client-id>"
    # WOODPECKER_GITEA_SECRET: "<client-secret>"
    # -- Token connection
    WOODPECKER_GITEA_TOKEN: "changeMe"
    WOODPECKER_GITEA_SKIP_VERIFY: "false"
    WOODPECKER_ADMIN: "woodpecker,admin,gitea_admin,OlafRadicke"
    WOODPECKER_HOST: "https://codeberg.org/"

  # -- Add extra environment variables from the secrets list
  # extraSecretNamesForEnvFrom:
  #   - woodpecker-gitea-token
  createAgentSecret: true

metrics:
  enabled: false
prometheus:
  podmonitor:
    enabled: false
