apiVersion: v1
kind: PersistentVolume
metadata:
  name: woodpecker-pv
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: woodpecker-local-storage
  local:
    path: /srv/k3s-pv-woodpecker-data
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - irish-sea
